Dockerfile
.dockerignore

.git
.gitignore
.gitattributes

.hintrc
.npmrc
.prettierignore
.prettierrc
eslint.config.js
.eslintrc.cjs
.graphqlrc

README.md

node_modules
.svelte-kit
build
package

.editorconfig
.vscode

**/.env
.env.example