services:
  cache:
    image: redis:8
    restart: unless-stopped
    healthcheck:
      test: redis-cli ping || exit 1

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    deploy:
      resources:
        limits:
          # number of cores to limit to
          cpus: '6'
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      cache:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - './data:/data'
    env_file:
      - .env
    depends_on:
      - backend